@import "../variables.scss";
@import "../utilities.scss";

.weatherForecast-container {
    margin-top: 30px;
    top: 40px;
    display: flex;
    overflow: scroll;
}

.autogeolocate {
    padding-top: 10px;
}

.hourlyForecast {
    position: relative;
    background-color: $grey;
    opacity: 0.9;
    min-width: 115px;
    min-height: 175px;
    padding: 10px;
    margin: 0 15px;
}

.hourlyForecast-time {
    position: absolute;
    font-size: 18px;
}

.hourlyForecast-icon {
    @extend .center;
    margin-top: 10px;
}

.hourlyForecast-condition {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.busSchedule-container {
    text-align: center;

    & > ul {
        list-style: none;
        -webkit-padding-start: 0px;
    }
}

.busSchedule {
    & > span {
        padding: 0px 5px;
    }

    &:nth-child(odd) {
        background-color: $primary-color02;
    }
}