@import "../variables.scss";
@import "../utilities.scss";

.weatherForecast-container {
    margin-top: 30px;
    top: 40px;
    display: flex;
    overflow: scroll;
}

.autogeolocate {
    padding-top: 10px;
}

.hourlyForecast {
    position: relative;
    background-color: $grey;
    opacity: 0.9;
    min-width: 115px;
    min-height: 175px;
    padding: 10px;
    margin: 0 15px;
}

.hourlyForecast-time {
    position: absolute;
    font-size: 18px;
}

.hourlyForecast-icon {
    @extend .center;
    margin-top: 10px;
}

.hourlyForecast-condition {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.busSchedule-container {
    text-align: center;

    & > ul {
        list-style: none;
        padding: 0px;
        -webkit-padding-start: 0px;
    }
}

.busSchedule-lastUpdated {
    font-size: 16px;
}

.busSchedule {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 3px 5px;
    background-color: $grey;

    & > span {
        flex-basis: 33%;
    }

    &:nth-child(odd) {
        background-color: darken($grey, 10%);
    }
}

.busSchedule-route {
    font-size: 18px;
}

.busSchedule-timeRemaining {
    font-size: 16px;
}

#google-map {
    height: 200px;
}