$primary-color01: #74c5f7;
$white01: #fcfcfc;
$grey01: #939393;
$primary-color02: #dae6ed;
$secondary-color03: #fcbf16;

$color-cell-0: #CEC0B1;
$color-cell-2: #EEE4DA;
$color-cell-4: #EDE0C8;
$color-cell-8: #F2B179;
$color-cell-16: #F59563;
$color-cell-32: #F67C5F;
$color-cell-64: #F65F3C;
$color-cell-128: #F0D26A;
$color-cell-256: #F0CF56;
$color-cell-512: #F1CB41;
$color-cell-1024: #EDC53F;
$color-cell-2048: #F2C500;

.navigation {
    height: 50px;
    background-color: $primary-color02;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navigation--link {
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 33%;
    text-align: center;
}

.container--child {
    padding-top: 50px;
}

.jumbotron-hero {
    position: relative;
    background-image: url('/static/img/hoboken_1.jpg');
    width: 100%;
    height: 260px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0;
}

.about-page {
    background-image: url('/static/img/hoboken_soccer.jpg');
    width: calc(100% + 30px);
    height: 100%;
    padding: 0px;
    margin: 0px -15px;
    background-repeat: no-repeat;
    background-position: 0;
    position: relative;
}

.about-container {
    position: absolute;
    max-width: 700px;
    background-color: $white01;
    opacity: 0.9;
    text-align: center;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%,-50%);    
}

.weatherForecast-container {
    margin-top: 30px;
    top: 40px;
    display: flex;
    overflow: scroll;
}

.hourlyForecast {
    position: relative;
    background-color: $white01;
    opacity: 0.9;
    min-width: 115px;
    min-height: 175px;
    padding: 10px;
    margin: 0 15px;
}

.hourlyForecast-time {
    position: absolute;
    font-size: 18px;
}

.hourlyForecast-icon {
    @extend .center;
    margin-top: 10px;
}

.hourlyForecast-condition {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.busSchedule-container {
    text-align: center;

    & > ul {
        list-style: none;
        -webkit-padding-start: 0px;
    }
}

.busSchedule {
    & > span {
        padding: 0px 5px;
    }

    &:nth-child(odd) {
        background-color: $primary-color02;
    }
}

.busSchedule-id {

}
.busSchedule-route {

}
.busSchedule-timeRemaining {

}
.warningState {
    color: $secondary-color03;
}

.board {
    height: 340px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    background-color: blue;
    width: 75px;
    height: 75px;
    margin: 4px;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;

    &.empty {
        background-color: $color-cell-0;  
    }

    &.two {
        background-color: $color-cell-2;
    }

    &.four {
        background-color: $color-cell-4;
    }

    &.eight {
        background-color: $color-cell-8;
    }

    &.sixteen {
        background-color: $color-cell-16;
    }

    &.thirtytwo {
        background-color: $color-cell-32;
    }

    &.sixtyfour {
        background-color: $color-cell-64;
    }

    &.onetwentyeight {
        background-color: $color-cell-128;
    }

    &.twofiftysix {
        background-color: $color-cell-256;
    }

    &.fivetwelve {
        background-color: $color-cell-512;
    }

    &.tentwentyfour {
        background-color: $color-cell-1024;
    }

    &.twentyfortyeight {
        background-color: $color-cell-2048;
    }
}

/**
 *  UTILITY CLASSES
 */
.center {
    text-align: center;
}

.active {
    background-color: darken($primary-color02, 20%);
}

.card-label {
    font-size: 12px;
    color: $grey01;
}