$primary-color01: #74c5f7;
$white01: #f4f4f4;
$primary-color02: #dae6ed;
$secondary-color03: #fcbf16;

.navHeaderContainer {
    background-color: $primary-color01;
}

.navHeaderContainer-content {
    text-align: center;
    color: $white01;
}

.busSchedule-container {
    text-align: center;

    & > ul {
        list-style: none;
    }
}

.busSchedule {
    & > span {
        padding: 0px 5px;
    }

    &:nth-child(odd) {
        background-color: $primary-color02;
    }
}

.busSchedule-id {

}
.busSchedule-route {

}
.busSchedule-timeRemaining {

}
.warningState {
    color: $secondary-color03;
}

/**
 *  UTILITY CLASSES
 */
