$primary-color: #74c5f7;
$white01: #f4f4f4;

.navHeaderContainer {
    background-color: $primary-color;
}

.navHeaderContainer-content {
    text-align: center;
    color: $white01;
}

.busSchedule-container {
    text-align: center;

    & > ul {
        list-style: none;
    }
}

/**
 *  UTILITY CLASSES
 */
.u-textAlignCenter {
    text-align: center;
}