@import "variables.scss";

.center {
    text-align: center;
}

.active {
    background-color: darken($bronze, 5%);
}

.card-label {
    font-size: 12px;
    color: $grey01;
}

.btn {
    width: 100%;
}