<html>
<head>
    <title>Hello Hoboken</title>
    <link rel="icon" href="{{ url_for('static', filename='h-favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div id="container" class="container-fluid">

    </div>
    <script>
        window.googleApiKey = '{{google_api_key}}';
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}">
    </script>
    <script src="{{ url_for('static', filename='bundles/bundle.js')}}"></script>
</body>
</html>