<html>
<head>
    <title>Hello Hoboken</title>
    <link rel="icon" href="{{ url_for('static', filename='h-favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='jspm_packages/github/twbs/bootstrap@3.3.6/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <div id="container" class="container-fluid">

    </div>
    <script src="{{ url_for('static', filename='jspm_packages/system.js')}}"></script>
    <script src={{ url_for('static', filename='config.js') }}></script>
    <script>
        System.import("{{ url_for('static', filename='js/app.jsx') }}!");            
    </script>
</body>
</html>